.bubble-text {
   margin-top: 6vw;
   font-size: 2.4vw;
   top: 20%;
   position: relative;
   width: 100%;
   color: #2A0D82;
   font-weight: 700;
   height: 20vw;
}
.buble-letter-up, .buble-letter-down{
   position: absolute;
   transform: translate(0, 0);
}

.buble-letter-up{
   z-index: -1;
}

.buble-letter-down{
   z-index: 2;
}

.buble-img-animation{
   position: absolute;
   top: -14.3vw;
   left: -14vw;
   width: 54vw;
   height: 59vw;
   transform: rotate(-5deg);
}

.letter__W{
   top: -0.13vw;
   left: -0.3vw;
}
.letter__E{
   left: 0.2vw;
}

.letter__I{
   left:0.4vw;
   top:0.1vw
}

@media screen and (max-width: 1024px){
   .bubble-text {
      transform: scale(1.3);
      left: 12vw; 
      margin-bottom: -15vw;
   }
}
@media screen and (max-width: 768px){
   .bubble-text {
      transform: scale(1.6);
      left: 28vw; 
      margin-top: 10vw;
      margin-bottom: -10vw;
   }
}

@media screen and (max-width: 520px){
   .bubble-text {
      transform: scale(2);
      left: 46vw; 
      margin-top: 30vw;
      margin-bottom: -5vw;
   }
}