/* #Works {
    color: #401F71;
    margin-top: 200px;
}

#WorksTitle {
    width: 115%;
    margin-left: 25px;
}

#WorksTitle .section_subtitle {
    color: #60566D;
    width: 35%;
}

.temporary_image {
    max-width: 100%;
}

.animated_text {
    max-width: 100%;
    margin-top: 6900px;
} */